@use "../../styles/vars.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .spinner {
    @include spinner(28px, 3px, $primary);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

td.loader {
  border-bottom: none;
}
