@use "../../styles/vars.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  @media (min-width: 768px) {
    top: 10vh;
  }

  .spinner {
    @include spinner(28px, 3px, $primary);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
