@use '../../styles/vars.module.scss' as *;
@use '../../styles/mixins.module.scss' as *;
@use "../../styles/layout.module.scss" as *;

.loader {
    position: absolute;
    background: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10vh;
    left: 50vw;

    .spinner {
      @include spinner(28px, 3px, $primary);
    }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}