@use '../../styles/vars.module.scss' as *;
@use '../../styles/mixins.module.scss' as *;

.loader {
    position: absolute;
    inset: 0;
    // background: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
      @include spinner(28px, 3px, $primary);
    }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}