@use "../../styles/vars.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.error {
    font-size: 16px;
    color: $secondary;
    padding: 20px;
    border: 1px solid $secondary;
    background-color: lighten($secondary, 40%);
    border-radius: 4px;
    margin: 10px;
    @media (min-width: 768px) {
        margin: 20px 0;
    }
}
