@use "./vars.module.scss" as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: $white;
  color: $text;
}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
  }
  @media (min-width: 1440px) {
    max-width: 1200px;
  }
}
