@use "./vars.module.scss" as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: $white;
  color: $text;
}

.container {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .spinner {
    width: 28px;
    height: 28px;
    border: 3px solid $gray;
    border-top-color: $primary;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
