@use './vars.module.scss' as *;

@mixin spinner($size: 28px, $borderWidth: 3px, $color: $primary) {
  width: $size;
  height: $size;
  border: $borderWidth solid $gray;
  border-top-color: $color;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}