@use "../styles/vars.module.scss" as *;
@use "../styles/layout.module.scss" as *;

.debtPage {
    background-color: $white;
    height: 100vh;

    .tableContainer {
        position: relative;
        overflow-x: auto;
    }

    @media (min-width: 768px) {
        height: auto;
    }
}
