@use "../styles/vars.module.scss" as *;
@use "../styles/layout.module.scss" as *;

.debtPage {
    background-color: $white;

    .tableContainer {
        position: relative;
        overflow-x: auto;
        @media (min-width: 480px) {
            overflow: visible;
        }
    }
}
