@use "../../styles/vars.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.searchPanel {
    font-size: 14px;
    padding: 20px;
    background-color: $primary;

    .title {
        color: $white;
        margin-bottom: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .search {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;

        input {
            padding: 10px;
            border: none;
            &:active,
            &:focus {
                outline: none;
            }
        }

        .searchBtn {
            text-transform: uppercase;
            font-weight: 600;
            background-color: $secondary;
            color: $white;
            border: none;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: darken($secondary, 10%);
            }
        }
    }
    @media (min-width: 768px) {
        padding: 35px 0;

        .search {
            flex-direction: row;
            
            input {
                padding: 15px;
                min-width: 405px;
            }

            .searchBtn {
                padding: 15px 50px;
            }
        }
    }
}
