@use '../../styles/vars.module.scss' as *;

.searchPanel{
    padding: 16px;
    background-color: $primary;
    .searchBtn {
        background-color: $secondary;
        color: $white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
            background-color: darken($secondary, 10%);
        }
    }
}