@use "../../styles/vars.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.tableDebts {
    width: 100%;
    background-color: $white;
    padding: 20px 0;
    text-align: left;
    th {
        font-size: 12px;
        color: $gray;
        text-transform: uppercase;
        cursor: pointer;
    }
    th,
    td {
        padding: 10px 15px;
        border-bottom: 1px solid $gray;
    }
    .sortIcon {
        margin-left: 8px;
        display: inline-block;
        width: 10px;
        height: 10px;

        &.asc {
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
            background: $gray;
        }
        &.desc {
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            background: $gray;
        }
    }
}
