@use "../../styles/vars.module.scss" as *;
@use "../../styles/layout.module.scss" as *;

.tableDebts {
    width: 100%;
    background-color: $white;
    padding: 20px 0;
    text-align: left;
    th {
        font-size: 12px;
        color: $gray;
        text-transform: uppercase;
    }
    th,
    td {
        padding: 10px 15px;
        border-bottom: 1px solid $gray;
    }
}
